In [9]:
import numpy as np 
import pandas as pd

In [2]:
my_Data = ["mohammad" , 20 , "CS" , "Egypt"]

In [3]:
my_series = pd.Series(my_Data)

In [4]:
my_series

0    mohammad
1          20
2          CS
3       Egypt
dtype: object

In [5]:
my_Data_as_dict = {"name" : "mohammad" , "age" : 20 , "Dept" : "CS" , "Country" : "Egypt"}

In [6]:
my_series_2 = pd.Series(my_Data_as_dict)

In [7]:
my_series_2

name       mohammad
age              20
Dept             CS
Country       Egypt
dtype: object

In [10]:
my_series_3 = pd.Series(np.array([10,20,30,40,50,60,70,80,90,100]))

In [11]:
my_series_3

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [19]:
my_series_4 = pd.Series(np.array([10,20,30,40,50]) , index= [1,2,3,4,5])

In [20]:
my_series_4

1    10
2    20
3    30
4    40
5    50
dtype: int32

In [21]:
my_series_4 = pd.Series(np.array([10,20,30,40,50]) , index= ["a","b","c","d" ,"e"])

In [22]:
my_series_4

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [23]:
my_series_5 = pd.Series(np.array([10,20,30,40,50]) , index= ["first","sec","third","fourth" ,"fifth"])

In [24]:
my_series_5

first     10
sec       20
third     30
fourth    40
fifth     50
dtype: int32

In [25]:
my_series

0    mohammad
1          20
2          CS
3       Egypt
dtype: object

In [26]:
my_series.shape

(4,)

In [29]:
my_series.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
my_series.values

array(['mohammad', 20, 'CS', 'Egypt'], dtype=object)

In [31]:
my_series_3

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [33]:
my_series_3.min()

10

In [34]:
my_series_3.max()

100

In [35]:
my_series_3.std()

30.276503540974915

In [36]:
my_series_3.mean()

55.0

In [37]:
my_series_3.median()

55.0

In [40]:
my_series_3.count()

10

In [47]:
my_series_2.unique()

array(['mohammad', 20, 'CS', 'Egypt'], dtype=object)

In [48]:
my_series_4

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [49]:
my_series_4.unique()

array([10, 20, 30, 40, 50])

In [50]:
my_series_4.nunique()

5