In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("gapminder - gapminder.csv")

In [17]:
data.head()

   Unnamed: 0      country  year  population continent  life_exp       gdp_cap
0          11  Afghanistan  2007    31889923      Asia    43.828    974.580338
1          23      Albania  2007     3600523    Europe    76.423   5937.029526
2          35      Algeria  2007    33333216    Africa    72.301   6223.367465
3          47       Angola  2007    12420476    Africa    42.731   4797.231267
4          59    Argentina  2007    40301927  Americas    75.320  12779.379640

In [18]:
data.country.value_counts()

Afghanistan          1
Pakistan             1
New Zealand          1
Nicaragua            1
Niger                1
                    ..
Eritrea              1
Equatorial Guinea    1
El Salvador          1
Egypt                1
Zimbabwe             1
Name: country, Length: 142, dtype: int64

In [19]:
data.life_exp = data.life_exp.astype("int")

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  142 non-null    int64
 1   country     142 non-null    object
 2   year        142 non-null    int64
 3   population  142 non-null    int64
 4   continent   142 non-null    object
 5   life_exp    142 non-null    int32
 6   gdp_cap     142 non-null    float64
dtypes: float64(1), int32(1), int64(3), object(2)
memory usage: 7.3+ KB

In [22]:
data.gdp_cap = data.gdp_cap.astype("int")

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  142 non-null    int64
 1   country     142 non-null    object
 2   year        142 non-null    int64
 3   population  142 non-null    int64
 4   continent   142 non-null    object
 5   life_exp    142 non-null    int32
 6   gdp_cap     142 non-null    int32
dtypes: int32(2), int64(3), object(2)
memory usage: 6.8+ KB

In [24]:
data.describe()

        Unnamed: 0    year    population    life_exp       gdp_cap
count   142.000000   142.0  1.420000e+02  142.000000    142.000000
mean    857.000000  2007.0  4.402122e+07   66.478873  11679.626761
std     493.631441     0.0  1.476214e+08   12.055850  12859.921105
min      11.000000  2007.0  1.995790e+05   39.000000    277.000000
25%     434.000000  2007.0  4.508034e+06   56.500000   1624.500000
50%     857.000000  2007.0  1.051753e+07   71.000000   6124.000000
75%    1280.000000  2007.0  3.121004e+07   76.000000  18008.000000
max    1703.000000  2007.0  1.318683e+09   82.000000  49357.000000