In [1]:
import pandas as pd

In [4]:
data1 = pd.read_csv("drinks1.csv")

In [5]:
data2 = pd.read_csv("drinks2.csv")

In [7]:
data1.head()

       country  beer_servings  spirit_servings
0  Afghanistan              0                0
1      Albania             89              132
2      Algeria             25                0
3      Andorra            245              138
4       Angola            217               57

In [8]:
data2.head()

   wine_servings  total_litres_of_pure_alcohol continent
0              0                           0.0      Asia
1             54                           4.9    Europe
2             14                           0.7    Africa
3            312                          12.4    Europe
4             45                           5.9    Africa

In [12]:
dataframe = pd.merge(data1 , data2)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False